/* Add CSS Styling */
.odd-number {
    background-color: #FFCCCB;
    font-family: Verdana, sans-serif;
}

.three {
    font-size: 24px;
}

#two {
    color: blue;
    font-size: 36px;
}

#four {
    background-color: #88E788;
    font-size: 24px;
    font-weight: bold;
}