body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 16px;
  width: 550px;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  padding: 16px;
}

.content {
  background: #e3f4ff;
  font-size: 16px;
  padding: 16px;
}

.button-container {
  background: #e3f4ff;
  display: block;
  margin-top: 10px;
  text-align: center;
  padding: 16px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin-left: 210px;
  padding: 16px;
  width: auto;
}